{% extends 'base.html' %}
{% block content %}
    <{% csrf_token %}
    <h1>Preguntas</h1>
    <div class="d-flex flex-column">
        {% for question in object_list %}
            <div class="card w-100 my-2 p-3">
                <div class="d-flex flex-row">
                    <div class="col-10">
                        <i class="far fa-question-circle" title="{{ question.description }}"></i>
                        <a href="{% url 'survey:question-edit' question.pk %}" class="fw-bold">{{ question.title }}</a>
                    </div>
                    <div class="col-2">
                        <span class="fw-lighter">Autor:</span> {{ question.author }}
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column col-4">
                        <u class="fw-lighter mb-1">Respuesta</u>
                        <div>
                            {% for val in '12345' %}
                                <a class="mx-1 answer {% if question.user_value|slugify == val %}fas{% else %}fal{% endif %} fa-star text-decoration-none"
                                   data-question="{{ question.pk }}"
                                   data-value="{{ val }}" href="#"></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-column ">
                        <u class="fw-lighter mb-1">Evalúa la pregunta</u>
                        <div>
                            <a class="mx-1 like {% if question.is_like is True %}fas{% else %}fal{% endif %} fa-thumbs-up text-decoration-none"
                               href="#" data-question="{{ question.pk }}" data-value="like" ></a>
                            <a class="mx-1 like {% if question.is_like is False %}fas{% else %}fal{% endif %} fa-thumbs-up fa-flip-both text-decoration-none"
                               href="#" data-question="{{ question.pk }}" data-value="dislike"></a>
                        </div>
                    </div>
                    <div class="col-2">
                        <u class="fw-lighter mb-1">Ranking:</u>
                        <div>
                           {{ question.points }} pts.
                        </div>


                    </div>
                </div>
            </div>
        {% empty %}
            <div>No hay preguntas.</div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script>
        $('a.answer').click(function (event) {
            event.preventDefault();
            let value = $(this).data('value');
            let question = $(this).data('question');
            
            let csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            
            $.ajax({
                url: '{% url "survey:question-answer" %}',
                method: 'POST',
                headers: { "X-CSRFToken": csrfToken },
                data: {
                    'question_pk': question,
                    'value': value
                },
                success: function(data) {
                    location.reload();
                },
                error: function(xhr, errmsg, err) {
                    console.log('Error:', errmsg);
                }
            });
        });

        $('a.like').click(function (event) {
            event.preventDefault();
            let value = $(this).data('value');
            let question = $(this).data('question');
            
            let csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            
            $.ajax({
                url: '{% url "survey:question-like" %}',
                method: 'POST',
                headers: { "X-CSRFToken": csrfToken },
                data: {
                    'question_pk': question,
                    'value': value
                },
                success: function(data) {
                    location.reload();
                },
                error: function(xhr, errmsg, err) {
                    console.log('Error:', errmsg);
                }
            });
        });
    </script>

{% endblock %}